html {
    background-image: url('lib.jpg');
    background-size:1920px;
    box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    color: bisque;
}
#table {
    border:1px groove bisque;
}
#table th {
    color:bisque;
}

/*styling the form stuff*/

/* Button used tp open the contact form*/
#open {
    border: none;
    cursor:pointer;
    opacity: 0.8;
}
/*The popup form - hidden by default*/
.formPopup {
    display:none;
    border: 1px solid bisque;
    width:50vw;
    color: bisque;
}

/*The form container*/
#form-container {
    padding:10px;
    background-color: transparent;
}

/*Full-width input fields*/
#form-container input[type=text]{
    width:50%;
    padding:15px;
    background-color: transparent;
    border: 1px solid bisque;
}

/*When inputs get focus, do something*/
#form-container input[type=text]:focus, #form-container input[type=button]:focus {
    background-color: rgba(221, 221, 221, 0.473);
    outline: none;
}

/*Set a stlye for the submit button*/
#form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
#form-container #cancel {
    background-color: #d45f59;
  }
  
  /* Add some hover effects to buttons */
  #form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }